script/php/soap/wsdl/Test.wsdl

<?xml version="1.0" ?>
<definitions name="mysoap" targetNamespace="urn:mysoap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:mysoap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types xmlns="http://schemas.xmlsoap.org/wsdl/" />
<portType name="mysoapPort"><operation name="HelloWorld">
<input message="tns:HelloWorldRequest" />
<output message="tns:HelloWorldResponse" />
</operation>
<operation name="Add">
<input message="tns:AddRequest" />
<output message="tns:AddResponse" />
</operation>
<operation name="myarr">
<input message="tns:myarrRequest" />
<output message="tns:myarrResponse" />
</operation>
</portType>
<binding name="mysoapBinding" type="tns:mysoapPort">
<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
<operation name="HelloWorld">
<soap:operation soapAction="urn:mysoap#Test#HelloWorld" />
<input><soap:body use="encoded" namespace="urn:mysoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:mysoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="Add">
<soap:operation soapAction="urn:mysoap#Test#Add" />
<input><soap:body use="encoded" namespace="urn:mysoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:mysoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
<operation name="myarr">
<soap:operation soapAction="urn:mysoap#Test#myarr" />
<input><soap:body use="encoded" namespace="urn:mysoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</input>
<output>
<soap:body use="encoded" namespace="urn:mysoap" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
</output>
</operation>
</binding>
<service name="mysoap">
<documentation />
<port name="mysoapPort" binding="tns:mysoapBinding"><soap:address location="http://mylearngit.com:80/script/php/soap/wsdl/CreateWsdl.php" />
</port>
</service>
<message name="HelloWorldRequest">
</message>
<message name="HelloWorldResponse">
<part name="HelloWorld" type="xsd:string" />
</message>
<message name="AddRequest">
<part name="a" type="xsd:string" />
<part name="b" type="xsd:string" />
</message>
<message name="AddResponse">
<part name="Add" type="xsd:string" />
</message>
<message name="myarrRequest">
<part name="arr" type="xsd:string" />
</message>
<message name="myarrResponse">
<part name="myarr" type="xsd:string" />
</message>
</definitions>